<h1><%= pluralize(@races.size, 'Race') %></h1>

<ul id = "races">
<% @races.each do |race| %>
<li>
  <article class="race" id="<%= dom_id(race) %>">
    <header>
      <h2><%= link_to race.name, race %></h2>
    </header>
    <p>
      <%= truncate(race.description, length: 40, separator: ' ') %>
    </p>

    <table>
    	<tr>
        <th>Category:</th>
        <td><%= race.race_category %></td>
      </tr>
      <tr>
      <tr>
        <th>Race Date:</th>
        <td><%= race.race_date %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= race.city %>, <%= race.state %></td>
      </tr>
    </table>
  </article>
</li>
<% end %>
</ul>
