<h1><%= pluralize(@races.size, 'Race') %></h1>


<% @races.each do |race| %>
  <article>
    <header>
      <h2><%= race.name %></h2>
    </header>
    <p>
      <%= truncate(race.description, length: 40, separator: ' ') %>
    </p>
    <table>
    	<tr>
        <th>Category:</th>
        <td><%= race.race_category %></td>
      </tr>
      <tr>
      <tr>
        <th>Released:</th>
        <td><%= race.race_date %></td>
      </tr>
      <tr>
        <th>Rating:</th>
        <td><%= race.city %></td>
      </tr>
      <tr>
        <th>Total Gross:</th>
        <td><%= race.state %></td>
      </tr>
    </table>
  </article>
<% end %>