
<article>
  <header>
    <h1><%= @race.name %></h1>
  </header>
  <h2>Description</h2>
  <p>
    <%= @race.description %>
  </p>
  <h3>Date</h3>
  <p>
    <%= @race.race_date %>
  </p>
  <h3>City</h3>
  <p>
    <%= @race.city %>
  </p>
  <h3>State</h3>
  <p>
     <%= @race.state %>
  </p>
</article>